tp4/tabla2b.aux
tp4/tabla2b.bbl
tp4/tabla2b.blg
tp4/tabla2b.log
tp4/tabla2b.synctex.gz
tp4/tabla2b.pdf
tp4/tabla3d.aux
tp4/tabla3d.log
tp4/tabla3d.pdf
tp4/tabla3d.synctex.gz
tp4/reporteTP4.synctex.gz
tp4/reporteTP4.log
tp4/reporteTP4.aux
tp4/MATLAB/ej3Vd-eps-converted-to.pdf
tp4/MATLAB/ej3Vdmax-eps-converted-to.pdf
tp4/MATLAB/ej3Vdmin-eps-converted-to.pdf
tp4/MATLAB/ej3dVd1-eps-converted-to.pdf
tp4/MATLAB/ej3dVd1max-eps-converted-to.pdf
tp4/MATLAB/ej3dVd1min-eps-converted-to.pdf
tp4/MATLAB/ej3dVd3-eps-converted-to.pdf
tp4/MATLAB/ej3dVd3max-eps-converted-to.pdf
tp4/MATLAB/ej3dVd3min-eps-converted-to.pdf
tp5/reporte/contenido.aux
tp5/reporte/contenido.log
tp5/reporte/contenido.synctex.gz
